<div>
  <div>
    <h1>TOP</h1>
  </div>
<mat-grid-list cols="4" rowHeight="376px">
    <mat-grid-tile>
    <mat-card class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar"></div>
        <mat-card-title>Vannah</mat-card-title>
        <mat-card-subtitle>Vannah is live</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      See whats new and hot!!!
    </p>
      </mat-card-content>
      <img mat-card-image>
    </mat-card>
    </mat-grid-tile>

        <mat-grid-tile>
        <mat-card class="card-container">
          <mat-card-header>
            <div mat-card-avatar class="header-avatar"></div>
            <mat-card-title>Vannah</mat-card-title>
            <mat-card-subtitle>Vannah is live</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              See whats new and hot!!!
            </p>
          </mat-card-content>
          <img mat-card-image>
        </mat-card>
        </mat-grid-tile>

            <mat-grid-tile>
            <mat-card class="card-container">
              <mat-card-header>
                <div mat-card-avatar class="header-avatar"></div>
                <mat-card-title>Vannah</mat-card-title>
                <mat-card-subtitle>Vannah is live</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               See whats new and hot!!!
              </p>
              </mat-card-content>
              <img mat-card-image>
            </mat-card>
            </mat-grid-tile>

                <mat-grid-tile>
                <mat-card class="card-container">
                  <mat-card-header>
                    <div mat-card-avatar class="header-avatar"></div>
                    <mat-card-title>Vannah</mat-card-title>
                    <mat-card-subtitle>Vannah is live</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                     See whats new and hot!!!
                    </p>
                  </mat-card-content>
                  <img mat-card-image>
                </mat-card>
                </mat-grid-tile>

  <div>
  <h1>BOTTOM</h1>
</div>

      <mat-grid-tile>
      <mat-card class="card-container">
        <mat-card-header>
          <div mat-card-avatar class="header-avatar"></div>
          <mat-card-title>Vannah</mat-card-title>
          <mat-card-subtitle>Vannah is live</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
          See whats new and hot!!!
          </p>
        </mat-card-content>
        <img mat-card-image>
      </mat-card>
      </mat-grid-tile>

          <mat-grid-tile>
          <mat-card class="card-container">
            <mat-card-header>
              <div mat-card-avatar class="header-avatar"></div>
              <mat-card-title>Vannah</mat-card-title>
              <mat-card-subtitle>Vannah is live</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                See whats new and hot!!!
              </p>
            </mat-card-content>
            <img mat-card-image>
          </mat-card>
          </mat-grid-tile>

              <mat-grid-tile>
              <mat-card class="card-container">
                <mat-card-header>
                  <div mat-card-avatar class="header-avatar"></div>
                  <mat-card-title>Vannah</mat-card-title>
                  <mat-card-subtitle>Vannah is live</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    See whats new and hot!!!
                  </p>
                </mat-card-content>
                <img mat-card-image>
              </mat-card>
              </mat-grid-tile>

                  <mat-grid-tile>
                  <mat-card class="card-container">
                    <mat-card-header>
                      <div mat-card-avatar class="header-avatar"></div>
                      <mat-card-title>Vannah</mat-card-title>
                      <mat-card-subtitle>Vannah is live</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        See whats new and hot!!!
                      </p>
                    </mat-card-content>
                    <img mat-card-image>
                  </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>