<div>
  <div>
    <h1>TOP</h1>
  </div>

  <div>
      <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>1
    <mat-card class="card-container" *ngFor="let item of playlist; let $index = index" (click)="onClickPlaylistItem(item, $index)"
      [class.selected]="item === currentItem">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar"></div>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <video #media [vgMedia]="media" [src]="currentItem.src" id="singleVideo" preload="auto" crossorigin>
      </video>
      <mat-card-content class="card-body-content">
        <p>
          {{ item.description }}
        </p>
      </mat-card-content>
      <img mat-card-image>
    </mat-card>
  </mat-grid-tile>
  </div>
  <div>
  <h1>BOTTOM</h1>
</div>
<div>
    <mat-grid-list cols="2" rowHeight="376px">
        <mat-grid-tile>1
  <mat-card class="card-container" *ngFor="let item of playlist; let $index = index" (click)="onClickPlaylistItem(item, $index)"
    [class.selected]="item === currentItem">
    <mat-card-header>
      <div mat-card-avatar class="header-avatar"></div>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <video #media [vgMedia]="media" [src]="currentItem.src" id="singleVideo" preload="auto" crossorigin>
    </video>
    <mat-card-content class="card-body-content">
      <p>
        {{ item.description }}
      </p>
    </mat-card-content>
    <img mat-card-image>
  </mat-card>
</mat-grid-tile>
</div>