<div>
  <div>
    <h1>TOP</h1>
  </div>
  <div>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
    <mat-card class="card-container">
      <mat-card-header>
        <div mat-card-avatar class="header-avatar"></div>
        <mat-card-title>Vannah</mat-card-title>
        <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="card-body-content">
        <p>
          {{ item.description }}
        </p>
      </mat-card-content>
      <img mat-card-image>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <div>
  <h1>BOTTOM</h1>
</div>
