<h1>category header here</h1>

<table>

   <tr>

      <td><div class="container" id="videoLinkCard1">

       <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>

    </div></td>

    <td><div class="container" id="videoLinkCard2">

      <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>

    </div></td>

    <td><div class="container" id="videoLinkCard3">

       <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>

    </div></td>

    <td><div class="container" id="videoLinkCard4">

        <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>
   
       </div></td>

  </tr>

</table>

  <h2>category header here</h2>

<table>

  <tr>

    <td><div class="container" id="videoLinkCard5">

    <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>

    </div></td>

    <td><div class="container" id="videoLinkCard6">

    <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>

    </div></td>

    <td><div class="container" id="videoLinkCard7">

        <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>
   
       </div></td>

       <td><div class="container" id="videoLinkCard8" >

          <button><img src="https://res.cloudinary.com/teepublic/image/private/s--20vdCjZn--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1544325769/production/designs/3686281_0.jpg" width="344px" hieght="344px"></button>
     
         </div></td>

</tr>

</table>