#videoLinkCard1, button {
    width: 344px;
    height: 376px;
  }
  #videoCard1titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle1 {
    width: 244px;
    height: 24px;
  }
  #NowLive1 {
    width: 44px;
    height: 16px;
  }
  #liveIcon1 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard2 {
    width: 344px;
    height: 376px;
  }
  #videoCard2titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle2 {
    width: 244px;
    height: 24px;
  }
  #NowLive2 {
    width: 44px;
    height: 16px;
  }
  #liveIcon2 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard3 {
    width: 344px;
    height: 376px;
  }
  #videoCard3titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle3 {
    width: 244px;
    height: 24px;
  }
  #NowLive3 {
    width: 44px;
    height: 16px;
  }
  #liveIcon3 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard4 {
    width: 344px;
    height: 376px;
  }
  #videoCard4titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle4 {
    width: 244px;
    height: 24px;
  }
  #NowLive4 {
    width: 44px;
    height: 16px;
  }
  #liveIcon4 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard5 {
    width: 344px;
    height: 376px;
  }
  #videoCard5titleBlock {
    width: 304px;
    height: 40px;
  }
  #NowLive5 {
        width: 44px;
        height: 16px;
}
 
  #cardTitle5 {
    width: 244px;
    height: 24px;
  }
  #liveIcon5 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard6 {
    width: 344px;
    height: 376px;
  }
  #videoCard6titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle6 {
    width: 244px;
    height: 24px;
  }
  #NowLive6 {
    width: 44px;
    height: 16px;
  }
  #liveIcon6 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard7 {
    width: 344px;
    height: 376px;
  }
  #videoCard7titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle7 {
    width: 244px;
    height: 24px;
  }
  #NowLive7 {
    width: 44px;
    height: 16px;
  }
  #liveIcon7 {
    width: 24px;
    height: 24px;
  }
  #videoLinkCard8 {
    width: 344px;
    height: 376px;
  }
  #videoCard8titleBlock {
    width: 304px;
    height: 40px;
  }
 #cardTitle8 {
    width: 244px;
    height: 24px;
  }
  #NowLive8 {
    width: 44px;
    height: 16px;
  }
  #liveIcon8 {
    width: 24px;
    height: 24px;
  }